.results {
  margin-top: 60px;
}
.heading {
  margin-top: 40px;
  padding-bottom: 20px;
}
.line{
  width: 85%;
 margin-left: 3%;
  color: B4B7A8;
}
.heading,
.resultsdata {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-row-gap: 10px;
  justify-content: space-evenly;
  align-items: start;
  height: 8px;
  list-style-type: none;
}
.heading li{
    font-size: 22px;
    color: #B4B7A8;
}
.resultsdata li{
    font-size: 16px;
    color: #B4B7A8;
}

 .resultsdata{
   width: 100%;
    margin-top: 30px;
} 

.states {
 margin-left: 10%;
}
@media screen and (max-width:768px){

}